################# COMMON (GLOBAL) #################
JWT_SECRET=
INTERNAL_GATEWAY_SECRET=
FRONTEND_URL=

################# AUTH SERVICE #####################
# DATABASE
DB_AUTH_USER=
DB_AUTH_PASS=

# MAILING
MAIL_HOST=
MAIL_USER=
MAIL_PASS=

################# CV SERVICE ######################
# DATABASE
DB_CV_URL=
DB_CV_USERNAME=
DB_CV_PASSWORD=

# GEMINI API (extraction skills + analyse ATS du CV)
GEMINI_API_KEY_CV=

################# JOB SERVICE #####################
# DATABASE
DB_JOB_URL=
DB_JOB_USERNAME=
DB_JOB_PASSWORD=

# REDIS
REDIS_URL=

# HUGGING FACE
SKILL_EXTRACTOR_HF_MODEL_URL=

# GEMINI API
GEMINI_API_KEY_JOB_SKILLS=

# GOOGLE JOBS API (SERPAPI)
JOBSAPI_BASE_URL=
JOBAPI_KEY=

# GITHUB
GITHUB_TOKEN=
GITHUB_USERNAME=

# CONFIGURATION & PROFILE
CONFIG_SERVER_PROFILE=
CONFIG_REPO_PATH=

################# ROADMAP SERVICE #####################
DB_ROADMAP_URL=
DB_ROADMAP_USERNAME=
DB_ROADMAP_PASSWORD=
GEMINI_API_KEY_ROADMAP=
GEMINI_MODEL_ROADMAP=