################# COMMON (GLOBAL) #################
JWT_SECRET=
INTERNAL_GATEWAY_SECRET=
FRONTEND_URL=

################# AUTH SERVICE #####################
# DATABASE
DB_AUTH_USER=
DB_AUTH_PASS=

# MAILING
MAIL_HOST=
MAIL_USER=
MAIL_PASS=

################# JOB SERVICE #####################
# DATABASE
DB_JOB_URL=
DB_JOB_USERNAME=
DB_JOB_PASSWORD=

# REDIS
REDIS_URL=

# HUGGING FACE
SKILL_EXTRACTOR_HF_MODEL_URL=

# GEMINI API
GEMINI_API_KEY_JOB_SKILLS=

# GOOGLE JOBS API (SERPAPI)
JOBSAPI_BASE_URL=
JOBAPI_KEY=

# GITHUB
GITHUB_TOKEN=
GITHUB_USERNAME=

# CONFIGURATION & PROFILE
CONFIG_SERVER_PROFILE=
CONFIG_REPO_PATH=
